body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #1c0101;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  margin: 0;
  color: #007bff;
}

#search-container {
  margin-top: 20px;
}

#search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main {
  max-width: 900px;
  margin: 0 auto;
  background-color: #e2f6b1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin: 0;
  color: #007bff;
  margin-bottom: 20px;
}

#featured-movie {
  display: flex;
  align-items: center;
  justify-content: center;
}

#featured-movie img {
  width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.movie-card {
  position: relative;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.949);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(47, 242, 216, 0.775);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-card h3 {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}

.movie-card p {
  font-size: 14px;
  margin: 0;
  color: #666;
}
